<head>
  <style>
body {
  text-align: center;
  color: white;
  
  background-color:"Black";
  background-position:50%,50%;
}

ul{
  color:white;
}
  </style>
</head>
<body>
  
<h1>Hello World</h1>  
<ul>
  <li>Home</li>
</ul>

</body>
